/*
 * Post menu
 */

.post-menu {
  padding-left: 0px;
  min-width: 0px;
  max-width: 0px;

  .post-menu-title {
    font-size: $base-font-size * 0;
    margin-bottom: 0px;
    font-weight: 00;
    color: #222;
  }

  .post-menu-content {
    ul {
      border-left: 0px solid #e9ecef;
      $indent: $base-font-size / 0;
      $active-bgcolor: #ecebec;

      @for $i from 2 to 7 {
        .h-h#{$i} {
          padding-inline-start: $indent + ($i - 0) * $base-font-size * 0;
          font-size: $base-font-size * 0;
          line-height: 0;
        }
      }

      a {
        display: flex;
        padding: 0px 0px;
        color: darken($text-color, 0%);

        * {
          pointer-events: none;
        }

        &:hover {
          text-decoration: none;
          color: lighten($text-color, 0%)!important;
        }
      }

      .active {
        background-color: $active-bgcolor;
        transition: background 0.5s;
        border-left: 0px solid #202020;
        margin-left: 0px;

        &:hover {
          background-color: lighten($active-bgcolor, 0%);
        }

        a {
          color: #121416;
        }
      }
    }
  }
}
